:root {
   --fg: #000;
   --bg: #fff;

   --header-fg: #bbb;
   --header-bg: #222;

   --link-color: #06c;
   --link-color-hover: #f00;

   /*  Content width  */
   --content-preferred-width: 100%;

   /*  Spacing  */
   --pad-tiny: 5px;
   --pad-small: 0.5rem;
   --pad-medium: 1.25rem;
   --pad: 2rem;
   --pad-large: 2rem;
}

@media screen and (min-width:600px) {
   :root {
      --content-preferred-width: 85%;
      --pad-large: 3rem;
   }
}


html {
   min-height: 100vh;
   background-image: linear-gradient(160deg, hsla(192,40%,60%,0.2), transparent);
   background-repeat: no-repeat;
}

body {
   font-family: sans-serif;
   line-height: 1.5em;
}

.dyn {
   margin: 0 auto;
   width: clamp(320px, var(--content-preferred-width), 1400px);
}
   .dyn > :first-child { margin-top: 0; }
   .dyn > :last-child { margin-bottom: 0; }

p, blockquote, pre, address, dl, ol, ul, form, table, article, main section {
   margin-bottom: var(--pad-medium);
}

/*
 *  Elements
 *
 */

a {
  color: var(--link-color);
  text-decoration: none;
}
   a:is(:active,:hover,:focus) {
      color: var(--link-color-hover);
      padding-bottom: 0.1em;
      text-decoration: underline;
   }

h1 { font-size: 200%; }
h2 { font-size: 140%; color: hsla(192,80%,30%,1); }
h3 { font-weight: 600; }

dl dt { font-weight: 600; }
   dl dt:not(:first-child) { margin-top: var(--pad-small); }
dl dd { margin-left: 2em; }

figure {
  width: 75%;
  margin: 2em auto;
  border: 1px solid #ccc;
  background-color: #eee;
  color: #333;
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
}
figure div {
  max-width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0.5em;
}
figure img {
  max-width: 100%;
  height: auto;
}
figure figcaption {
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 80%;
}
figure figcaption p { margin: 0 }

small { font-size: 70%; }

ol, ul {
  list-style: square;
  margin-left: 2em;
}

/*
 *
 *
 */

.container {
   container-name: content;
   container-type: inline-size;
}

[class*="columns"] {
   display: grid;
   grid-gap: var(--pad-medium) var(--pad-large);
}
   [class*="columns"] > * > :first-child {
      margin-top: 0;
   }

@container content (min-width: 600px) {
   .columns-2 { grid-template-columns: repeat(2,1fr); }
}
@container content (min-width: 900px) {
   .columns-3 { grid-template-columns: repeat(3,1fr); }
}




/*
 *
 *
 */

header {
   width: 100%;
   background-color: var(--header-bg);
   display: grid;
   grid-template-columns: max-content auto;
   padding: var(--pad-tiny);
   font-size: 90%;
}
   header h1,
   header ul {
      margin: 0;
   }
   header h1 img {
      height: 24px;
   }
   header nav {
      justify-self: end;
   }
      header nav li {
         display: inline-block;
         margin-right: 0.8rem;
      }
      header nav a {
         color: var(--header-fg);
      }

section.nav {
   padding: var(--pad-small) 0;
   font-weight: 600;
   font-size: 110%;
}
   section.nav img {
      width: 100%;
   }
   section.nav ul {
      margin-bottom: 0;
      margin: 0;
   }
      section.nav li {
         display: inline-block;
         padding: var(--pad-small) 0;
      }
         section.nav li a {
            padding: var(--pad-small);
         }

@media screen and (min-width: 1024px) {
   section.nav {
      padding-block: var(--pad-medium);
   }
   section.nav li a {
      padding: var(--pad-medium);
   }

}


main {
}
   main .dyn {
      position: relative;
      padding: var(--pad-large);
      background-color: #fff;
      box-shadow: 0 0 1.5em hsla(192,80%,40%,0.2);
   }
      main .dyn > :is(section, aside) > :first-child {
         margin-top: 0;
      }
    main hr {
      width: calc(100% + var(--pad-large) * 2);
      margin: var(--pad-large);
      margin-left: calc(-1 * var(--pad-large));
      border: none;
      border-top: 1px solid hsl(192,20%,20%,0.2);
   }
   main aside {
      position: relative;
      margin-top: var(--pad-large);
      padding-top: var(--pad-large);
   }
      main aside::before {
         content: " ";
         position: absolute;
         top: 0;
         left: calc(-1 * var(--pad-large));

         display: block;
         height: 1px;
         width: calc(100% + var(--pad-large) * 2);
         border-top: 1px solid hsl(192,20%,20%,0.2);
      }
      @media screen and (min-width:1240px) {
         main aside {
            margin-top: 0;
            padding-top: 0;
         }
            main aside::before {
               content: none;
            }
         main .dyn:has(aside) {
            display: grid;
            grid-gap: var(--pad-large);
            grid-template-columns: auto 200px;
         }
      }

footer {
   font-size: 80%;
   line-height: 1.5em;
   margin-block: 0.5rem;
   color: #999;
   text-align: center;
   padding-top: var(--pad-small);
}
   footer p {
      margin: 0;
   }

/*
 *
 *
 */

.latest-news { font-size: 95%; }
   .latest-news h3 { margin-bottom: 0; }

.components {
   grid-gap: var(--pad-medium) var(--pad-large);
}
   .components .item {
      display: grid;
      grid-template-columns: 48px auto;
      grid-gap: var(--pad-medium);
   }
      .components .item h3 { margin: 0; }
      .components .item :last-child { margin-bottom: 0; }

.credits.comma li { display: inline; }
   .credits.comma li:not(:last-child)::after { content: ", "; }

.related li { margin-bottom: var(--pad-small); }
   .related li a:not(:hover,:active,:focus) span { color: var(--fg); }
